<div class="card">
  <div class="row g-0">
    <h5 class="card-header">{{movie.title}} <span class="badge bg-danger">{{movie.voteAverage|number_format(1,',','')}}</span> ({{movie.voteCount|number_format(0,'','')}} {{'movie.index.vote_count'|trans}})</h5>
    <div class="col-2">
      {% if movie.posterPath %}
      <img
        src="{{path('image_get', {format: 'w500', filename: movie.posterPath[1:]})}}"
        class="img-fluid img-thumbnail"
        alt="{{movie.title}}"
      />
      {% endif %}
    </div>
    <div class="col-10">
      <div class="card-body">
        <h5 class="card-title">{{movie.releaseDate|date('Y')}}</h5>
        <p class="card-text">{{movie.overview}}</p>
        <a href="#" class="btn btn-primary">{{'movie.index.show_details'|trans}}</a>
      </div>
    </div>
  </div>
</div>
